@import '~antd/dist/antd.css';

body {
  margin: 20px;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Crete Round', serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
}

.navicon svg {
  width: 25px;
  height: 25px;
}

.navmenu {
  font-size: 1em;
}